<div class="tab-pane fade" id="tab-data">
    <br><br><br>
    <div class="container" style="text-align: center;">
        <div class="btn-group" data-toggle="buttons" id="data_buttonGroup">
            <!--
            <label class="btn btn-primary btn-lg" id="data-button-client">
                <input type="radio" name="options"> Clients
            </label>
            <label class="btn btn-primary btn-lg" id="data-button-provider">
                <input type="radio" name="options"> Providers
            </label>
            <label class="btn btn-primary btn-lg" id="data-button-ticket">
                <input type="radio" name="options"> Tickets
            </label>
            -->
        </div>
    </div>
    <br>
    <div class="progress progress-striped active" style="display: block; margin-left: auto; margin-right: auto; width: 80%;">
        <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%;" id="data_progressBar">
        </div>
    </div>
    <br>
    <div class="container" style="text-align: center;">
        <button class="btn btn-danger" id="data_buttonDelete" disabled>Delete Selected (WIP)</button><button class="btn btn-primary" id="data_buttonModal" disabled>Create New</button>
    </div>
    <br><br>
    <div class="table-responsive" style="width: 90%; margin: auto;">
        <table class="table table-striped table-bordered table-hover table-condensed" id="data_table">
            <thead id="data_tableHead">
                <td></td>
            </thead>
            <tbody id="data_tableBody">
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="data_modalRecord" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Insert a New Record</h4>
            </div>
            <div class="modal-body">
                <p>
                    <h4>Required fields are marked with an exclamation</h4>
                </p>
                <table class="table" id="data_modalRecordTable">
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Submit (WIP)</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var currentModel = '';

    function data_makeButtons() {
        var buttonGroup = $('#data_buttonGroup');
        for (i in models) {
            var model = models[i];
            var modelName = modelNames[model];
            //alert(modelName);
            buttonGroup.append(String.format(
                '<label class="btn btn-primary btn-lg data_buttonModel" model="{0}">\
                    <input type="radio"> {1}\
                </label>',
            model, modelName));
        }

        $('.data_buttonModel').click(data_buttonModelPress);
    }

    function data_parseData(data, status, xhr) {
        $('#data_buttonModal').attr('disabled', false);
        var tableBody = $('#data_tableBody');
        var properties = modelProperties[currentModel];
        for (i in data) {
            var instance = data[i];
            tableBody.append(String.format('<tr id="{0}"></tr>', instance['id']));
            var row = $('#' + instance['id']);

            var cell = $('<td></td>').appendTo(row);
            var checkbox = $('<input type="checkbox" class="data_check">').appendTo(cell);
            checkbox.attr('value', instance['id'])

            for (j in properties) {
                var key = properties[j][0];
                var value = instance[key];
                var type = properties[j][1];
                var cell = $('<td></td>').appendTo(row);

                if (key == 'id') {
                    var entry = $(String.format('<input type="text" class="data_tableID" value="{0}" readonly></input>', value)).appendTo(cell);
                    entry.css('width', '100%');
                    entry.popover({
                        'placement': 'top',
                        'trigger': 'hover',
                        'content': 'Ctrl+C to copy'
                    });
                }
                else {
                    editor = $('<a href="#" class="data_tableElement"></a>').appendTo(cell);
                    var options = {
                        'url': String.format('/api/{0}_consoleupdate?token={1}', currentModel, session),
                        'type': type,
                        'pk': instance['id'],
                        'name': key,
                        'value': value,
                    };

                    switch (type) {
                        case 'select':
                            options['source'] = properties[j][2];
                            break;
                        case 'password':
                            options['emptytext'] = 'Click to Change';
                            break;
                        case 'textarea':
                            options['display'] = function(value, sourceData) {
                                $(this).text('. . .');
                            };
                    }

                    switch (typeof(value)) {
                        case 'boolean':
                            options['value'] = JSON.stringify(value);
                            break;
                    }

                    editor.editable(options);
                }
            }
        }

        $('.data_check').click(function () {
            var button = $('#data_buttonDelete');
            var n = $('.data_check:checked').length;
            if (n > 0) {
                button.attr('disabled', false);
            }
            else {
                button.attr('disabled', true);
            }
        });

        $('.data_tableID').hover(function() {
            $(this).select();
        });
    }

    function data_enableControls() {
        $('.data_buttonModel').attr('disabled', false);
        $('#data_progressBar').css('width', '0%');
    }

    function data_buttonModelPress() {
        $('.data_buttonModel').attr('disabled', true);
        $('#data_progressBar').css('width', '100%');
        $('#data_tableHead').empty();
        $('#data_tableBody').empty();

        var model = $(this).attr('model');
        currentModel = model;
        var properties = modelProperties[model];
        var head = '<td>&nbsp;<span class="glyphicon glyphicon-ok"></span>&nbsp;</td>';

        for (i in properties) {
            var property = properties[i][0];
            head += String.format('<td><strong>{0}</strong></td>', property.toUpperCase());
        }

        $('#data_tableHead').append(head);

        $.ajax({
            'url': String.format('/api/{0}_get?token={1}', model, session),
            'dataType': 'json',
            'success': data_parseData,
            'complete': data_enableControls
        })
    }

    $('#data_buttonDelete').click(function() {
        var ids = []
        checkboxes = $('.data_check:checked').each(function() {
            ids.push($(this).val());
        });
        $('#data_buttonDelete').attr('disabled', true);
        $.ajax({
            'url': String.format('/api/{0}_remove?token={1}&ids={2}', currentModel, session, JSON.stringify(ids)),
            'success': function() {
                $('.data_check:checked').each(function() {
                    $(this).parent().parent().remove();
                });
            },
            'error': function() {
                bootbox.alert('Error encountered while delete records');
                $('#data_buttonDelete').attr('disabled', false);
            },
        });
    });

    var data_modalRecordFields = [];

    $('#data_buttonModal').click(function() {
        var model = currentModel;
        var properties = modelProperties[model];
        var table = $('#data_modalRecordTable')

        data_modalRecordFields = [];
        table.children().each(function() {
            $(this).remove();
        });

        for (i in properties) {
            var key = properties[i][0];
            var type = properties[i][1];
            var row = $('<tr></tr>').appendTo(table);

            if(type=='null'){continue;}
            row.append(String.format('<td><strong>{0}</strong></td>', key));

            var cell = $('<td></td>').appendTo(row);
            var editor = $('<a href="#"></a>').appendTo(cell);
            var options = {
                'type': type,
                'name': key,
            };

            switch (type) {
                case 'select':
                    options['source'] = properties[i][2];
                    break;
            }

            switch (key) {
                case 'admin':
                    options['admin'] = false;
                    break;
            }

            data_modalRecordFields.push(editor.editable(options));

            if (properties[i][3]) {
                cell.append('&nbsp;&nbsp;<span class="glyphicon glyphicon-exclamation-sign"></span>');
            }
        }

        $('#data_modalRecord').modal('show');
    });

    $(document).ready(function() {
        data_makeButtons();
    });
</script>