<html>
    <head>
        <title>Clarity Database Console</title>
        {% include '_header.html' %}
        <link href="/static/css/bootstrap-editable.css" rel="stylesheet">
        <script src="/static/js/bootstrap-editable.js"></script>

        <script src="/static/js/moment.min.js"></script>
        
        <script src="/static/js/qr.min.js"></script>
        
        <script>
            var session = '{{ session.key() }}';
            var user = $.parseJSON('{{ encode(session.user) }}');
        </script>
        
        <script src="/static/js/console.js"></script>
    </head>
    <body>

        <div class="navbar text-center" id="claritylogobar">
            <img src="/static/image/ClarityLogo_padded_white.svg" id="claritylogo">
        </div>

        <!-- NAVBAR START -->
        <ul class="nav nav-tabs" style="background-image:url('/static/image/cubes.png');">
            <li class="active"><a href="#tab-home" data-toggle="tab">Home</a></li>
            <li><a href="#tab-data" id="tab-data-button" data-toggle="tab">View Data</a></li>
            <li><a href="#tab-qr" data-toggle="tab">QR Generator</a></li>

            <li class="dropdown pull-right">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="glyphicon glyphicon-user"></span> {{ session.user.name_first }} {{ session.user.name_last }}
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#tab-settings" data-toggle="tab">Settings</a></li>
                    <li><a href="#" id="consoleLogout">Logout</a></li>
                </ul>
            </li>
        </ul>
        <!-- NAVBAR END -->

        <div class="tab-content">

        <!-- HOME TAB START -->
        {% include 'console-home.html' %}
        <!-- HOME TAB END -->

        <!-- DATA TAB START -->
        {% include 'console-data.html' %}
        <!-- DATA TAB END -->

        <!-- QR TAB START -->
        {% include 'console-qr.html' %}
        <!-- QR TAB END -->

        <!-- SETTINGS TAB START -->
        {% include 'console-settings.html' %}
        <!-- SETTINGS TAB END -->

        </div>
        
        <div id="loader" hidden>
            <div class="loader"></div>
        </div>
        
        <style>
            #loader {
                width: 160px;
                height: 160px;
                padding: 16px;
                position:fixed;
                top:50%;
                left:50%;
                margin-top:-90px;
                margin-left:-90px;
                
                background-color: #ddd;
                border-radius: 5px;
            }
        </style>

    </body>
</html>