<html>
    <head>
        <title>Clarity Database Console</title>
        {% include '_header.html' %}
    </head>
    <body>
        <div class="jumbotron">
            <h1>403 - Forbidden</h1>
            <p>You don't have access to the admin console. If you believe there may be an error, try contacting a Clarity administrator to resolve the issue.</p>
        </div>
        <br>
        <div class="container">
            <a class="btn btn-danger btn-lg btn-block" href="/login?close=true">Logout</a>
        </div>
    </body>
</html>