<html>
    <head>
        <title>Clarity Database Console</title>
        {% include '_header.html' %}
        <link href="/static/css/bootstrap-editable.css" rel="stylesheet">
        <script src="/static/js/bootstrap-editable.min.js"></script>

        <link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css"></link> 
        <script src="/static/js/bootstrap-datetimepicker.min.js"></script>

        <script src="/static/js/string.format.js"></script>
    </head>
    <body>
        <script>
            var session = '{{ session.key() }}';
            var user = $.parseJSON('{{ encode(resolve(session.user)) }}');
            var models = ['client', 'provider', 'ticket']
            var modelNames = {
                'client': 'Clients',
                'provider': 'Providers',
                'ticket': 'Tickets',
            }
            var namePrefixes = ['', 'Ms.', 'Mrs.', 'Mr.', 'Rev.', 'Dr.'];
            var nameSuffixes = ['', 'I', 'II', 'III', 'IV', 'V', 'Jr.', 'Sr.', 'Esq.'];
            var truefalse = ['true', 'false'];
            var modelProperties = {
                'provider': [
                    ['id',              'null',         null,                   null],
                    ['name_prefix',     'select',       namePrefixes,           false],
                    ['name_first',      'text',         null,                   true],
                    ['name_middle',     'text',         null,                   false],
                    ['name_last',       'text',         null,                   true],
                    ['name_suffix',     'select',       nameSuffixes,           false],
                    ['username',        'text',         null,                   true],
                    ['password',        'password',     null,                   true],
                    ['admin',           'select',       truefalse,              true],
                ],
                'client': [
                    ['id',              'null',         null,                   null],
                    ['name_prefix',     'select',       namePrefixes,           false],
                    ['name_first',      'text',         null,                   true],
                    ['name_middle',     'text',         null,                   false],
                    ['name_last',       'text',         null,                   true],
                    ['name_suffix',     'select',       nameSuffixes,           false],
                    ['dateofbirth',     'date',         null,                   true],
                    ['sex',             'select',       ['female', 'male'],     true],
                    ['location',        'textarea',     null,                   false],
                ],
                'ticket': [
                    ['id',              'null',         null,                   null],
                    ['qrcode',          'text',         null,                   null],
                    ['client',          'model',        null,                   true],
                    ['isopen',          'select',       truefalse,              false],
                    ['opened',          'datetime',     null,                   null],
                    ['closed',          'datetime',     null,                   null],
                ],
            };
        </script>

        <!-- NAVBAR START -->
        <ul class="nav nav-tabs" style="background-image:url('/static/image/cubes.png');">
            <li class="active"><a href="#tab-home" data-toggle="tab">Home</a></li>
            <li><a href="#tab-data" id="tab-data-button" data-toggle="tab">View Data</a></li>
            <li><a href="#tab-qr" data-toggle="tab">QR Generator</a></li>

            <li class="dropdown pull-right">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="glyphicon glyphicon-user"></span> {{ session.user.name_first }} {{ session.user.name_last }}
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#tab-settings" data-toggle="tab">Settings</a></li>
                    <li><a href="/login?close=true">Logout</a></li>
                </ul>
            </li>
        </ul>
        <!-- NAVBAR END -->

        <div class="tab-content">

        <!-- HOME TAB START -->
        {% include 'console-home.html' %}
        <!-- HOME TAB END -->

        <!-- DATA TAB START -->
        {% include 'console-data.html' %}
        <!-- DATA TAB END -->

        <!-- QR TAB START -->
        {% include 'console-qr.html' %}
        <!-- QR TAB END -->

        <!-- SETTINGS TAB START -->
        {% include 'console-settings.html' %}
        <!-- SETTINGS TAB END -->

        </div>

    </body>
</html>