<div class="tab-pane fade" id="tab-data">
    <br><br><br>
    <div class="container" style="text-align: center;">
        <div class="btn-group" data-toggle="buttons" id="data_buttonGroup">
            <!--
            <label class="btn btn-primary btn-lg" id="data-button-client">
                <input type="radio" name="options"> Clients
            </label>
            <label class="btn btn-primary btn-lg" id="data-button-provider">
                <input type="radio" name="options"> Providers
            </label>
            <label class="btn btn-primary btn-lg" id="data-button-ticket">
                <input type="radio" name="options"> Tickets
            </label>
            -->
        </div>
    </div>
    <br>
    <div class="progress progress-striped active" style="display: block; margin-left: auto; margin-right: auto; width: 80%;">
        <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%;" id="data_progressBar">
        </div>
    </div>
    <br><br>
    <div class="table-responsive" style="width: 90%; margin: auto;">
        <table class="table table-striped table-bordered table-hover table-condensed" id="data_table">
            <thead id="data_tableHead">
            </thead>
            <tbody id="data_tableBody">
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    var currentModel = '';

    function data_makeButtons() {
        var buttonGroup = $('#data_buttonGroup');
        for (i in models) {
            var model = models[i];
            var modelName = modelNames[model];
            //alert(modelName);
            buttonGroup.append(String.format(
                '<label class="btn btn-primary btn-lg data_buttonModel" model="{0}">\
                    <input type="radio"> {1}\
                </label>',
            model, modelName));
        }

        $('.data_buttonModel').click(data_buttonModelPress);
    }

    function data_parseData(data, status, xhr) {
        var tableBody = $('#data_tableBody');
        var properties = modelProperties[currentModel];
        for (i in data) {
            var instance = data[i];
            tableBody.append(String.format('<tr id="{0}"></tr>', instance['id']));
            var row = $('#' + instance['id']);

            for (j in properties) {
                var key = properties[j];
                var value = instance[key];
                var valuetype = typeof value;
                var cell = $('<td></td>').appendTo(row);

                if (key == 'id') {
                    cell.append(value);
                }
                else {
                    editor = $('<a href="#" class="data_tableElement"></a>').appendTo(cell);
                    switch (key) {
                        case 'dateofbirth':
                            editor.attr('data-type', 'date');
                            break;
                        case 'sex':
                            editor.attr('data-type', 'select');
                            editor.attr('data-source', "{'male': 'male', 'female': 'female'}");
                            break;
                        case 'admin':
                            editor.attr('data-type', 'select');
                            editor.attr('data-source', "{'true': 'true', 'false': 'false'}");
                            break;
                        case 'password':
                            editor.attr('data-value', 'Set new password');
                            break;
                    }
                    editor.attr('data-pk', instance['id']);
                    editor.attr('data-name', key);
                    editor.attr('data-value', value);
                }
            }
        }
        $('.data_tableElement').editable({
            'url': String.format('/api/{0}_consoleupdate?token={1}', currentModel, session)
        });
    }

    function data_enableControls() {
        $('.data_buttonModel').attr('disabled', false);
        $('#data_progressBar').css('width', '0%');
    }

    function data_buttonModelPress() {
        $('.data_buttonModel').attr('disabled', true);
        $('#data_progressBar').css('width', '100%');
        $('#data_tableHead').empty();
        $('#data_tableBody').empty();

        var model = $(this).attr('model');
        currentModel = model;
        var properties = modelProperties[model];
        var head = '';

        for (i in properties) {
            var property = properties[i];
            head += String.format('<td><strong>{0}</strong></td>', property.toUpperCase());
        }

        $('#data_tableHead').append(head);

        $.ajax({
            'url': String.format('/api/{0}_get?token={1}', model, session),
            'dataType': 'json',
            'success': data_parseData,
            'complete': data_enableControls
        })
    }

    $(document).ready(function() {
        data_makeButtons();
    });
</script>