<html>
    <head>
        <title>Clarity Database Gateway</title>
        {% include '_header.html' %}
        <script src="/static/js/login.js"></script>
        {% include '_footer.html' %}
    </head>
    <body>
        <style>
            body {
                background-image: url('/static/image/cubes.png');
            }
        </style>

        <div class="navbar text-center" id="claritylogobar">
            <img src="/static/image/ClarityLogo_padded_white.svg" id="claritylogo">
        </div>

        <div class="container-fluid" id="logindiv">

            <br>
            <form id="loginform">

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>Log in to the console</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <input type="text" class="form-control" placeholder="Username" name="username" autofocus required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <input type="password" class="form-control" placeholder="Password" name="password" required>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                    </div>
                </div>
            </form>

            <br><br><br>

            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <em>
                        Styled using <a href="http://getbootstrap.com/">Bootstrap 3.1.0</a>, <a href="http://bootswatch.com/cosmo/">Cosmo</a>, and <a href="http://subtlepatterns.com/">Subtle Patterns</a>.<br>
                        View this <a href="http://jonathanballands.me/">project's home</a>, the <a href="https://github.com/jballands/ClarityGAE">server on GitHub</a>, or the <a href="https://github.com/jballands/ClarityAndroid">app on GitHub</a>.
                    </em>
                </div>
            </div>

        </div>
        
        <div id="loader" hidden>
            <div class="loader"></div>
        </div>
        
        <style>
            #loader {
                width: 160px;
                height: 160px;
                padding: 16px;
                position:fixed;
                top:50%;
                left:50%;
                margin-top:-90px;
                margin-left:-90px;
                
                background-color: #ddd;
                border-radius: 5px;
            }
        </style>

        <script type="text/javascript">
            var session = '';

            var titlebarContracted = '50px';
            var titlebarExpanded = '38%'

            function loginSuccess(data, status, xhr) {
                session = data['token'];
                $.cookies.set('clarity-console-session', session);
                //window.location = '/console';

                $('#footer').hide();
                $('#logindiv').hide();
                //$('#consoleframe').show();

                $('#claritylogobar').animate({'height': titlebarContracted}, complete=function() {
                    window.location = '/console'
                })
            }

            function loginError(xhr, status, error) {
                if(status == 'timeout'){
                    bootbox.alert('Oops! Your login request timed out; try again.');
                    return
                }
                bootbox.alert('The password and/or username provided are invalid.');
                $('#loginform').children().attr('disabled', false);
            }

            function loginComplete() {
                //$('#loginform').children().attr('disabled', false);
            }

            //$('#claritylogobar').css('height', '1.5em')

            $('#loginform').submit(function() {
                var form_data = $(this).serializeArray();
                var form_dict = {'console': true};

                for (i in form_data) {
                    form_data_entry = form_data[i];
                    form_dict[form_data_entry['name']] = form_data_entry['value'];
                }

                $(this).children().attr('disabled', true);
                $.ajax({
                    'url': '/api/session_begin?json=true',
                    'method': 'post',
                    'dataType': 'json',
                    'contentType': 'application/json; charset=utf-8',
                    'data': JSON.stringify(form_dict),
                    'success': loginSuccess,
                    'error': loginError,
                    'complete': loginComplete
                });
                return false;
            });

            $(document).ready(function() {
                $('#claritylogobar').css('height', titlebarExpanded)
            });
        </script>

        <!--
        <div style="position:absolute;bottom:0px;" id="footer">
            Styled using <a href="http://getbootstrap.com/">Bootstrap 3.1.0</a>, <a href="http://bootswatch.com/cosmo/">Cosmo</a>, and <a href="http://subtlepatterns.com/">Subtle Patterns</a>.
        </div>
        -->

    </body>
</html>