<html>
    <head>
        <title>Clarity Database Gateway</title>
        {% include '_header.html' %}
        {% include '_footer.html' %}
    </head>
    <body>
        <style>
            body {
                background-image: url('/static/image/cubes_@2X.png');
            }
        </style>

        <div class="navbar text-center" id="claritylogobar">
            <img src="/static/image/ClarityLogo_padded_white.svg" style="height: 100%;">
        </div>

        <div id="logindiv">
            <br>
            <form id="loginform" class="form-horizontal">

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2 class="form-signin-heading">Log in to the console</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username" name="username" autofocus required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" name="password" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
                <input type="text" name="console" value="true" hidden>
            </form>
        </div>

        <script type="text/javascript">
            var session = '';

            var titlebarContracted = '50px';
            var titlebarExpanded = '38%'

            function loginSuccess(data, status, xhr) {
                session = data['token'];
                $.cookies.set('clarity-console-session', session);
                //window.location = '/console';

                $('#footer').hide();
                $('#logindiv').hide();
                //$('#consoleframe').show();
                $('#claritylogobar').animate({'height': titlebarContracted}, complete=function() {
                    window.location = '/console'
                })
            }

            function loginError(xhr, status, error) {
                if(status == 'timeout'){
                    bootbox.alert('Oops! Your login request timed out; try again.');
                    return
                }
                bootbox.alert('The password and/or username provided are invalid.');
                $('#loginform').children().attr('disabled', false);
            }

            function loginComplete() {
                //$('#loginform').children().attr('disabled', false);
            }

            //$('#claritylogobar').css('height', '1.5em')

            $('#loginform').submit(function() {
                var data = $(this).serialize();
                $(this).children().attr('disabled', true);
                $.ajax({
                    'url': '/api/session_begin',
                    'method': 'post',
                    'dataType': 'json',
                    'data': data,
                    'success': loginSuccess,
                    'error': loginError,
                    'complete': loginComplete
                });
                return false;
            });

            $(document).ready(function() {
                $('#claritylogobar').css('height', titlebarExpanded)
            });
        </script>

        <div style="position:absolute;bottom:0px;" id="footer">
            Styled using <a href="http://getbootstrap.com/">Bootstrap 3.1.0</a>, <a href="http://bootswatch.com/cosmo/">Cosmo</a>, and <a href="http://subtlepatterns.com/">Subtle Patterns</a>.
        </div>
    </body>
</html>