<html>
    <head>
        <title>Clarity Database Gateway</title>
        <link rel="stylesheet" type="text/css" href="/metroui/css/modern.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </head>
    <body class="metrouicss">
        <center>
            <!--<h1 class="padding80 bg-color-blue fg-color-white">Clarity<small><small>db</small></small></h1>-->
            <div class="padding80 bg-color-blue"><img src="/static/image/ClarityLogo_white.svg" style="height:8em;"></div><br>

            <button class="image-button big span6" href="/console">
                Continue to web console
                <i class="icon-wrench"></i>
            </button><br>

            <button class="image-button span6" href="http://www.jonathanballands.me/portfolio/recount.html">
                Visit the project's homepage
                <i class="icon-home"></i>
            </button><br>

            <button class="image-button span6" href="https://github.com/jballands/ClarityAndroid">
                View the project on GitHub
                <i class="icon-github-2"></i>
            </button><br>            
        </center>

        <div style="position:absolute;bottom:0px;">
            Styled with <a href="http://metroui.org.ua">Metro UI CSS</a>
        </div>
        
        <script type="text/javascript">
            $('button').click(function() {
                window.location = $(this).attr('href');
            });
        </script>
    </body>
</html>