<html>
    <head>
        <title>Clarity Database Gateway</title>
        {% include '_header.html' %}
        {% include '_footer.html' %}
    </head>
    <body>
        <style>
            body {
                background-image: url('/static/image/cubes.png');
            }
        </style>
        <center>
            <!--<h1 class="padding80 bg-color-blue fg-color-white">Clarity<small><small>db</small></small></h1>-->
            <div style="
                width: 100%;
                padding-top: 6em;
                padding-bottom: 6em;
                background-color: #0091f6;
            ">
                <img src="/static/image/ClarityLogo_white.svg" style="height:8em;"><br>
                <font style="
                    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
                    font-size:1em;
                    color:white;
                ">
                    DATABASE + CONSOLE
                </font>
            </div>

            <style>
                .spacing {
                    padding-right: 1em;
                }
            </style>

            <br>
            <div class="container">

                <a class="btn btn-lg btn-primary btn-block" href="/login">
                    Continue to web console
                </a>

                <a class="btn btn-sm btn-primary btn-block" href="http://www.jonathanballands.me/portfolio/recount.html">
                    Visit the project's homepage
                </a>

            <!--
            <p>
                <button class="btn btn-sm widen" href="https://github.com/jballands/ClarityAndroid">
                    View the project on GitHub<span class="glyphicon glyphicon-link pull-right"></span>
                </button>
            </p>
            -->

                <div class="btn-group btn-block">
                    <button type="button" class="btn btn-primary btn-sm btn-block dropdown-toggle" data-toggle="dropdown">
                    View the project on GitHub
                    </button>
                    <ul class="dropdown-menu btn-block" role="menu">
                        <li><a href="https://github.com/jballands/ClarityAndroid">Android App</a></li>
                        <li><a href="https://github.com/jballands/ClarityGAE">Database + Console</a></li>
                    </ul>
                </div>
            </div>
        </center>

        
        
        <script type="text/javascript">
            //$('button').click(function() {
            //    window.location = $(this).attr('href');
            //});
        </script>
    </body>
</html>