<html>
    <head>
        <title>Clarity Database Login</title>
        {% include '_header.html' %}
    </head>
    <body>
        <style>
            body {
                background-image: url('/static/image/geometry.png');
            }
            div.img {
                text-align: center;
                margin: 2em 0 2em;
            }
        </style>

        <div style="
            width:100%;
            height:100%;
        ">
        <div class="container">
            <div class="img">
                <img src="/static/image/ClarityIcon_blue.svg" style="height: 19%;" class="centered">
            </div>

            <form id="loginform" class="form-horizontal">
                <h2 class="form-signin-heading">Please log in below</h2>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" name="username" autofocus required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                </div>
                <input type="text" name="console" value="true" hidden>
            </form>

        </div>
        </div>

        <script type="text/javascript">
            function loginSuccess(data, status, xhr) {
                $.cookies.set('clarity-console-session', data['token']);
                window.location = '/console';
            }

            function loginError(xhr, status, error) {
                if(status == 'timeout'){
                    bootbox.alert('Oops! Your login request timed out; try again.');
                    return
                }
                bootbox.alert('The password and/or username provided are invalid.');
                $('#loginform').children().attr('disabled', false);
            }

            function loginComplete() {
                //$('#loginform').children().attr('disabled', false);
            }

            $('#loginform').submit(function() {
                var data = $(this).serialize();
                $(this).children().attr('disabled', true);
                $.ajax({
                    'url': '/api/session_begin',
                    'method': 'post',
                    'dataType': 'json',
                    'data': data,
                    'success': loginSuccess,
                    'error': loginError,
                    'complete': loginComplete
                });
                return false;
            });
        </script>
    </body>
</html>