<html>
    <head>
        <title>QR Label Sheet</title>
        {% include '_header.html' %}
    </head>
    <body>
        {% macro qr(data, size=512) -%}
            {% for x in range(5) %}
                <td>
                    <img src="https://chart.googleapis.com/chart?chs={{ size }}x{{ size }}&cht=qr&chl={{ data }}">
                </td>
            {% endfor %}
        {%- endmacro %}

        <style type="text/css">
            table {
                text-align: center;
            }
            img {
                width: 100%;
            }
            table { page-break-after:auto }
            tr    { page-break-inside:avoid; page-break-after:auto }
            td    { page-break-inside:avoid; page-break-after:auto }
        </style>

        <table class="table">
            {% for y in range(amount) %}
                <tr>
                    <td><h3><em>{{ y + 1 }}</em></h3></td>
                    {{ qr('clarity' + uuid.uuid4().hex) }}
                </tr>
            {% endfor %}
        </table>

        <script type="text/javascript">
            $(document).ready(function() {
                window.print();
            });
        </script>
    </body>
</html>