<html>
    <head>
        <title>QR Label Sheet</title>
        {% include '_header.html' %}
    </head>
    <body>
        {% macro qr_row(data, i) -%}
            <td>
                <h1 class="text-muted"><em>{{ i + 1 }}</em></h1>
            </td>
            {% for x in range(5) %}
                <td>
                    <img class="large" src="https://chart.googleapis.com/chart?chs=512x512&cht=qr&chl={{ 'clarity' + data }}">
                </td>
            {% endfor %}
        {%- endmacro %}

        <style type="text/css">
            table {
                text-align: center;
            }
            img.large {
                width: 100%;
            }
            img.small {
                width: 4em;
            }
            table { page-break-after:auto }
            tr    { page-break-inside:avoid; page-break-after:auto }
            td    { page-break-inside:avoid; page-break-after:auto }
        </style>

        <table class="table">
            {% for y in range(amount) %}
                <tr>
                    {{ qr_row(uuid.uuid4().hex, y) }}
                </tr>
            {% endfor %}
        </table>

        <script type="text/javascript">
            $(document).ready(function() {
                //window.print();
            });
        </script>
    </body>
</html>