<html>
    <head>
        <title>Redirection Gateway</title>
        <link rel="stylesheet" type="text/css" href="/metroui/css/modern.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </head>
    <body class="metrouicss">
        {{ body|safe }}
        <h4><em>If you are not redirected automatically, <a href="{{ uri }}">click here</a>.</em></h4>
        <script type="text/javascript">
            function redirect(){
                window.location = '{{ uri }}';
            }

            $(document).ready(function(){
                setTimeout(redirect(), {{ time|safe }});
            });
        </script>
    </body>
</html>