<html>
    <head>
        <title>Clarity Redirection Gateway</title>
        {% include '_header.html' %}
    </head>
    <body>
        <div class="jumbotron">
            <h1><em>Redirecting</em></h1>
            <p>If you are not redirected automatically, click the button below.</p>
        </div>
        <br>
        <div class="container">
            <a class="btn btn-success btn-lg btn-block" href="{{ uri }}">Continue</a>
        </div>
        <script type="text/javascript">
            function redirect(){
                window.location = '{{ uri }}';
            }

            $(document).ready(function(){
                setTimeout(redirect, {{ time|safe }});
            });
        </script>
    </body>
</html>